.products {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 24px;
}

.product {
    
    border-radius: 0.5rem;
    padding: 1rem;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    width: 40%;
    gap: 8px;
    flex: 1 0 21%;
    border: 1px lightslategray solid;


}

.image-div {
    display: flex;
    justify-content: center;
}

img.product-image {
    object-fit: scale-down;
    height: 150px;
    width: 150px;

}

.product-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

.purchase {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}